.main-container {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 75%;
  position: absolute;
  
  
  width: 50%;
  height: 50%;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  padding: 50px;
  margin: auto;
  font-family: "Space Mono", monospace;
}

.input-revival {
  display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 30px;
	border: 1px solid whitesmoke;
	padding: 21px;
	border-radius: 4px;
}

.button {
  background-color: transparent;
  border: none;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #4b00d7;
  position: relative;
  font-size: 8px;
}
